@charset "ISO-8859-1";

.body{
	background-image: url("/asset/img/background.png");
    background-repeat: no-repeat;
    background-size: 100% 720px;
}

.float-right{
	float: right;
}

.floar-left{
	float: left;
}

.float-center{
	margin-left: auto;
	margin-right: auto;
}